{{ $imageFirst := default false .imageFirst }}
<section class="{{ .sectionClass }}">
    <div class="section__inner split split--feature">
        {{ if $imageFirst }}
        <div class="media media--small {{ .mediaClass }}">
            <img src="{{ .image | relURL }}" alt="{{ .imageAlt }}">
        </div>
        <div class="feature-text">
            {{ partial "components/section-heading.html" (dict "tag" "h3" "title" .title "lede" .body) }}
            {{ if .flowersBottom }}
            <div class="flower-row flower-row--benefits">
                <img class="flower-cluster flower-cluster--small" src="/images/brand-flowers-cluster.png" alt="Flower icons">
            </div>
            {{ end }}
        </div>
        {{ else }}
        <div class="feature-text">
            {{ if .flowersTop }}
            <div class="flower-row">
                <img class="flower-cluster" src="/images/brand-flowers-cluster.png" alt="Flower icons">
            </div>
            {{ end }}
            {{ partial "components/section-heading.html" (dict "tag" "h3" "title" .title "lede" .body) }}
        </div>
        <div class="media media--small {{ .mediaClass }}">
            <img src="{{ .image | relURL }}" alt="{{ .imageAlt }}">
        </div>
        {{ end }}
    </div>
</section>
