<header class="site-header">
    <div class="site-header__inner">
        <a href="{{ $.Site.BaseURL }}" class="brand brand--logo" aria-label="{{ $.Site.Title }}">
            {{ if $.Site.Params.logo }}
            <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="brand__logo" alt="{{ $.Site.Title }}">
            {{ end }}
        </a>

        <nav class="site-nav" aria-label="Primary">
            <ul class="site-nav__list">
                {{ range $.Site.Menus.main }}
                <li class="site-nav__item">
                    <a class="site-nav__link{{ if $.Page.IsMenuCurrent "main" . }} is-active{{ end }}" href="{{ .URL }}">
                        {{ .Name | default .Title }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
